<h2>About James Hider</h2>

<div class="row-fluid">

    <div class="span4 about_images">

        <div class="img_container">
            <img src="<%= asset_path("Hider Website author photo.jpeg") %>" />
        </div>

        <div id="pic1" class="thumb">
            <img src="<%= asset_path("avatar16.png") %>" />
        </div>

        <div id="pic2" class="thumb">
            <img src="<%= asset_path("avatar18.png") %>" />
        </div>

        <div id="pic3" class="thumb">
            <img src="<%= asset_path("avatar19.png") %>" />
        </div>

        <!-- <div id="pic4" class="thumb">
            <img src="<%= asset_path("avatar16.png") %>" />
        </div>

        <div id="pic5" class="thumb">
            <img src="<%= asset_path("avatar18.png") %>" />
        </div>

        <div id="pic6" class="thumb">
            <img src="<%= asset_path("avatar19.png") %>" />
        </div> -->

        <div style="clear: both;"></div>

    </div>

    <div class="span8">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet nibh ut ornare fringilla. Pellentesque sollicitudin tortor mi, ac posuere ligula tincidunt vitae. Cras at tincidunt tortor, ut laoreet erat. Vivamus eu hendrerit libero. Integer vehicula ut leo eu iaculis. Curabitur viverra est sem. Nulla facilisi. Integer ut lorem condimentum, bibendum quam id, gravida neque. Duis non lorem vel ex cursus gravida. Nullam ut accumsan enim. Suspendisse finibus, tellus ut consectetur congue, elit neque ullamcorper turpis, eget aliquet leo enim eget libero. Integer nec dolor sem. Maecenas fringilla ex sed neque varius pulvinar.
        </p>
        <p>
        Sed feugiat orci sed scelerisque consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus commodo id risus vulputate aliquam. Praesent pulvinar consectetur nibh, vitae porta est eleifend in. Nunc mauris orci, interdum accumsan metus ut, porta congue ante. Fusce sed feugiat neque. Quisque blandit mollis finibus. In libero urna, pharetra non elit mattis, 1lobortis feugiat quam. Nam non tellus leo. Cras magna dui, vestibulum eu felis quis, maximus tempor massa. Fusce eleifend ultrices urna, ut lacinia felis vestibulum in. Proin ipsum dolor, molestie et nunc sed, pharetra aliquam leo. Aliquam luctus tortor eu dapibus elementum. Sed viverra dui eget vestibulum posuere. Nam tempus gravida tincidunt.
        </p>
        <p>
        Integer mollis turpis sit amet viverra pharetra. Fusce tincidunt turpis in lectus congue placerat. Mauris suscipit sollicitudin cursus. Nam quis commodo tortor. Sed vehicula scelerisque venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam non luctus arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur consectetur quis purus ornare viverra. Maecenas nisl massa, ultricies eu magna id, rhoncus lacinia mauris. Duis risus lorem, euismod sed scelerisque in, commodo et urna.
        </p>
    </div>

</div>

<div class="row-fluid">

    <div class="span4">
        <h3>span4</h3>
    </div>
    <div class="span4">
        <h3>span4</h3>
    </div>
    <div class="span4">
        <h3>span4</h3>
    </div>

</div>

<div class="row-fluid">

    <div class="span4">
        <h3>span4</h3>
    </div>
    <div class="span3">
        <h3>span3</h3>
    </div>
    <div class="span5">
        <h3>span5</h3>
    </div>

</div>

<div class="row-fluid">

    <div class="span1">
        <h3>span1</h3>
    </div>

    <div class="span2">
        <h3>span2</h3>
    </div>

    <div class="span3">
        <h3>span3</h3>
    </div>

    <div class="span4">
        <h3>span4</h3>
    </div>

    <div class="span2">
        <h3>span2</h3>
    </div>

</div>

<div class="row-fluid">

    <div class="span12">
        <h3>span12</h3>
    </div>

</div>
