<h2>The Author</h2>

<div class="main">

    <div class="row-fluid">

        <div class="span6 about_images">

            <div class="span12">

                <div id="pic1" class="span4 about_img">
                    <img id="pic1o" src="<%= asset_path("Hider.jpg") %>" />
                    <img id="pic1bw" src="<%= asset_path("Hider2.jpg") %>" />
                </div>

                <div id="pic2" class="span4 about_img">
                    <img id="pic2o" src="<%= asset_path("hider_fallujah.jpg") %>" />
                    <img id="pic2bw" src="<%= asset_path("hider_fallujah.jpg") %>" />
                </div>

                <div id="pic3" class="span4 about_img">
                    <img id="pic3o" src="<%= asset_path("navarro_hider.jpg") %>" />
                    <img id="pic3bw" src="<%= asset_path("navarro_hider.jpg") %>" />
                </div>

            </div>

            <div class="span12">

                <div id="pic4" class="span4 about_img">
                    <img id="pic4o" src="<%= asset_path("hider_ratdog.jpg") %>" />
                    <img id="pic4bw" src="<%= asset_path("hider_ratdog.jpg") %>" />
                </div>

                <div id="pic5" class="span4 about_img">
                    <img id="pic5o" src="<%= asset_path("hider_ur.jpg") %>" />
                    <img id="pic5bw" src="<%= asset_path("hider_ur.jpg") %>" />
                </div>

                <div id="pic6" class="span4 about_img">
                    <img id="pic6o" src="<%= asset_path("hider_venezuela.jpg") %>" />
                    <img id="pic6bw" src="<%= asset_path("hider_venezuela.jpg") %>" />
                </div>

            </div>

            <div class="span12">

                <div id="pic7" class="span4 about_img">
                    <img id="pic7o" src="<%= asset_path("hider_kabul.jpg") %>" />
                    <img id="pic7bw" src="<%= asset_path("hider_kabul.jpg") %>" />
                </div>

                <div id="pic8" class="span4 about_img">
                    <img id="pic8o" src="<%= asset_path("hider_sambadrome.jpg") %>" />
                    <img id="pic8bw" src="<%= asset_path("hider_sambadrome.jpg") %>" />
                </div>

                <div id="pic9" class="span4 about_img">
                    <img id="pic9o" src="<%= asset_path("hider_daughter.jpg") %>" />
                    <img id="pic9bw" src="<%= asset_path("hider_daughter.jpg") %>" />
                </div>

            </div>

            <div style="clear: both;"></div>

        </div>

        <div class="span6 about_text">
            <div class="span6">
                <p>
                Home is where I live with my family: My wife Lulu, a correspondent for NPR; our two-year-old daughter Cassenia; and our two Mexican street mutts, Ratdog and Ursa. At the moment we're in Sao Paulo, Brazil.
                </p>
                <p>
                I am the South America correspondent for The Times newspaper, and for about a decade I was the paper's Middle East correspondent. While there I covered the conflicts in Israel and Palestine, the war in Iraq, and the Arab Spring in Egypt, Libya and Syria. I have also reported on Afghanistan, the Russian invasion of Georgia, the Nato occupation of Kosovo, the civil war in Macedonia and the Mexico drugs wars. After Hurricane Katrina, I drove across Texas to report from New Orleans.
                </p>

                <p>The time I spent in the Middle East inspired me to write 'The Spiders of Allah: Travels of an Unbeliever on the Front Lines of Holy Wars', which won a BOOKLIST Editors Choice award and was listed as a Book of the Year by MOTHER JONES magazine.</p>
            </div>
            <div class="span6">
                <p>
                I'm fascinated by humanity's vivid imagination, its ability to create weird, wonderful and often terrifying beliefs and that's what led me to write 'Cronix', my science fiction novel, the first in a trilogy. I'm working towards the finish line on Book Two. The story came from an idea I had about god and evolution meeting in a man-made paradise.
                </p>

                <p>When I'm not writing books and articles, I love to read, both fiction and non-fiction. I ski and scuba dive when the opportunity arises, and I enjoy dining well, drinking cocktails in fancy glasses, spending time with friends. Discussing ideas. I love to travel. My current favourite place is Tulum, in Mexico's Yucatan Peninsular, where you can lie in a hammock on a golden beach under the ruins of a Mayan temple and watch pelicans dive into the Caribbean. It's the first place that Europeans ever set eyes on America and its people.
                </p>
            </div>
        </div>

    </div>

</div>
