<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56642438-1', 'auto');
  ga('send', 'pageview');

</script>
<div class="main bg_dark">

    <div class="row-fluid">

        <div class="span6 about_images">

            <div id="myCarousel" class="carousel slide">

                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                    <li data-target="#myCarousel" data-slide-to="7"></li>
                    <li data-target="#myCarousel" data-slide-to="8"></li>
                    <li data-target="#myCarousel" data-slide-to="9"></li>
                    <li data-target="#myCarousel" data-slide-to="10"></li>
                    <li data-target="#myCarousel" data-slide-to="11"></li>
                    <li data-target="#myCarousel" data-slide-to="12"></li>
                  </ol>

                  <!-- Carousel items -->
                  <div class="carousel-inner">

                    <div class="active item">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/hider_navarro.jpg" alt="Hider Navarro" />
                        <div class="carousel_credit">
                            <p>&copy; Tara Todras-Whitehill</p>
                        </div>
                        <div class="carousel_caption">
                            <p>
                                This family shot was taken in Jaffa, Tel Aviv, shortly after we learned Lulu was pregnant. It was used by NPR in a story in which Lulu rather impressively linked Ursa to the poet Siegfried Sassoon and the First World War.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/hider_fallujah.jpg" alt="Hider Fallujah" />
                        <div class="carousel_credit">
                            <p>© Chuck Boers</p>
                        </div>
                        <div class="carousel_caption">
                            <!-- <h6>Caption:<h6> -->
                                <p>I was embedded with the 7th Cavalry during the second battle of Fallujah in November 2004. Yep, General Custer's regiment. The first morning of the attack, a piece of shrapnel went clean through my arm. I was med-evac'ed back to the field base but even though it bled a lot, I was okay and got to rejoin the unit the next day.</p>
                        </div>
                        <!-- <div class="carousel_caption"> -->
                            <!-- <p> </p> -->
                        <!-- </div> -->
                    </div>

                    <div class="item">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/hider_kabul.jpg" alt="Hider Kabul" />
                        <div class="carousel_credit">
                            <p>© Peter Nichols</p>
                        </div>
                        <div class="carousel_caption">
                            <p>
                                I've always loved horse riding since I was a kid in West Sussex, so when I was in Kabul in 2009 and saw a guy renting out buzkashi ponies I couldn't resist. It was up on the hill where the kids fly their kits a la Kite Runner, so I was concentrating on not ploughing through some innocent bystanders, hence the tongue-sticking-out the mouth. Very steady-footed steed though -- buzkashi is the version of polo played with a severed goats head in a sack, with about 30 players on either team.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/hider_venezuela.jpg" alt="Hider Venezuela" />
                        <div class="carousel_credit">
                            <p>© Yesman Utrera</p>
                        </div>
                        <div class="carousel_caption">
                            <p>
                                A month after Hugo Chavez died in March 2013, I visited his tomb at the Mountain Barracks in Caracas. It has become a virtual shrine, with soldiers in 19th century dress uniforms and swords parading around it and people weeping in front of the giant portraits.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/Hider.jpg" alt="Hider" />
                        <div class="carousel_credit">
                            <p>&copy; James Hider</p>
                        </div>
                        <div class="carousel_caption">
                            <!-- <h6>Caption:<h6> -->
                                <p>Selfie. Sanaa, Yemen. Sanaa is what the Middle East should look like. Towering houses, some said by locals to be 2000 years old. It's where the Pharaohs used to buy their frankincense</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/hider_lulu.jpg" alt="Hider Lulu" />
                        <div class="carousel_credit">
                           <!--  <p>© ''</p> -->
                        </div>
                        <div class="carousel_caption">
                            <p>
                                Sao Paulo is the culinary capital of Latin America, and Lulu and I love to dine out. This was a great Japanese restaurant, one of the city's specialities -- it has the largest Japanese population outside of Japan, and is sushi heaven.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/hider_pig.jpg" alt="Hider Pig" />
                        <div class="carousel_credit">
                            <!-- <p>© ''</p> -->
                        </div>
                        <div class="carousel_caption">
                                <p>
                                Roasting a pig in a Cuban roasting box, or caja china, at Christmas 2013 in Sao Paulo.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/hider_daughter.jpg" alt="Hider Daughter" />
                        <div class="carousel_credit">
                            <p>© Lourdes Garcia Navarro</p>
                        </div>
                        <div class="carousel_caption">
                            <!-- <h6>Caption:<h6> -->
                                <p>Fine dining with baby, Sao Paulo</p>
                        </div>
                        <div class="carousel_caption">
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/hider_ur.jpg" alt="Hider Ur" />
                        <div class="carousel_credit">
                            <p>© Peter Nichols</p>
                        </div>
                        <div class="carousel_caption">
                            <p>
                                In high school, my history teacher told me about the first ever ziggurat in the world, built in Mesopotamia around 4000 years back, before the Egyptians built their pyramids. I first went there in 2002, when it was part of a huge US airbase. At the end of 2011, I was covering the US pullout of Iraq and went back. The Americans were gone, of course, but then this was a place that has outlasted every empire in history.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/hider_ratdog.jpg" alt="Hider Ratdog" />
                        <div class="carousel_credit">
                            <!-- <p>© ''</p> -->
                        </div>
                        <div class="carousel_caption">
                            <p>
                                I used to take my dogs hiking in the desert when I lived in Jerusalem. During this hike in the Negev, close to the Dead Sea, Ratdog overheated and needed a lift.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/hider_sambadrome.jpg" alt="Hider Sambadrome" />
                        <div class="carousel_credit">
                            <p>© Lourdes Garcia Navarro</p>
                        </div>
                        <div class="carousel_caption">
                            <p>
                                Beyond the Sambadrome: in Rio in 2013, I visited the huge warehouse where all the old carnival floats are stored and came across this great float, that looked like some evil lord of the underworld had come to party.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/hider_mig.jpg" alt="Hider Mig" />
                        <div class="carousel_credit">
                            <p>© Richard Mills</p>
                        </div>
                        <div class="carousel_caption">
                            <p>
                                Right after the fall of Saddam Hussein, I was driving out across the Anbar desert to write about jihadists already coming in across the Syrian border. One the way, we passed dozens of Mig fighter jets that had been hidden in the open desert, then forgotten as the army dissolved. Luckily they hadn't been booby trapped as we climbed aboard and explored.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/hider_gaza.jpg" alt="Hider Gaza" />
                        <div class="carousel_credit">
                            <p>© Lourdes Garcia Navarro</p>
                        </div>
                        <div class="carousel_caption">
                            <p>
                                As well as being arachnophobic, I am quite claustrophobic, so being lowered into a smugglers tunnel under the Gaza-Egypt border was a bit nerve racking, especially as Israel intermittently bombed the tunnels to stop weapons being smuggled in. The families who dug the tunnels became some of the wealthiest people in Gaza, but it was dangerous work.
                            </p>
                        </div>
                    </div>


                </div> <!-- Carousel inner -->

                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>


                <div class="span12 no-margin no-padding no-border">

                    <div class="span3 about_img">
                        <img id="pic2" src="<%= "https://s3.amazonaws.com/hiderwebsiteimages/hider_navarro.jpg" %>" />
                    </div>

                    <div class="span3 about_img">
                        <img id="pic3" src="<%= "https://s3.amazonaws.com/hiderwebsiteimages/hider_fallujah.jpg" %>" />
                    </div>

                    <div class="span3 about_img">
                        <img id="pic4" src="<%= "https://s3.amazonaws.com/hiderwebsiteimages/hider_kabul.jpg" %>" />
                    </div>

                    <div class="span3 about_img">
                        <img id="pic5" src="<%= "https://s3.amazonaws.com/hiderwebsiteimages/hider_venezuela.jpg" %>" />
                    </div>

                </div>

                <div class="span12 no-margin no-padding no-border">

                    <div class="span3 about_img">
                        <img id="pic6" src="<%= "https://s3.amazonaws.com/hiderwebsiteimages/Hider.jpg" %>" />
                    </div>

                    <div class="span3 about_img">
                        <img id="pic7" src="<%= "https://s3.amazonaws.com/hiderwebsiteimages/hider_lulu.jpg" %>" />
                    </div>

                    <div class="span3 about_img">
                        <img id="pic8" src="<%= "https://s3.amazonaws.com/hiderwebsiteimages/hider_pig.jpg" %>" />
                    </div>

                    <div class="span3 about_img">
                        <img id="pic9" src="<%= "https://s3.amazonaws.com/hiderwebsiteimages/hider_daughter.jpg" %>" />
                    </div>

                </div>

                <div class="span12 no-margin no-padding no-border">

                    <div class="span3 about_img">
                        <img id="pic10" src="<%= "https://s3.amazonaws.com/hiderwebsiteimages/hider_ur.jpg" %>" />
                    </div>

                    <div class="span3 about_img">
                        <img id="pic11" src="<%= "https://s3.amazonaws.com/hiderwebsiteimages/hider_sambadrome.jpg" %>" />
                    </div>

                    <div class="span3 about_img">
                        <img id="pic12" src="<%= "https://s3.amazonaws.com/hiderwebsiteimages/hider_mig.jpg" %>" />
                    </div>

                    <div class="span3 about_img">
                        <img id="pic13" src="<%= "https://s3.amazonaws.com/hiderwebsiteimages/hider_gaza.jpg" %>" />
                    </div>

                </div>

            </div> <!-- Caroussel -->

        </div> <!-- span6 -->


        <div class="span6 about_text bg_bright">

            <div class="span6">
                <h3>About Me</h3>
                <br />
                <p>
                <strong>Home</strong> is where I live with my family: My wife Lulu, a correspondent for NPR; our daughter, Cassenia, who is two; and our Mexican street mutts, Ratdog and Ursa. At the moment we're in Sao Paulo, Brazil.
                </p>
                <p>
                I am the South America correspondent for The Times newspaper, and for about a decade I was the paper's Middle East correspondent. While there I covered the conflicts in Israel and Palestine, the war in Iraq, and the Arab Spring in Egypt, Libya and Syria. I have also reported on Afghanistan, the Russian invasion of Georgia, the Nato occupation of Kosovo, the civil war in Macedonia and the Mexico drugs wars. After Hurricane Katrina, I drove across Texas to report from New Orleans.
                </p>
                <p>The time I spent in the Middle East inspired me to write 'The Spiders of Allah: Travels of an Unbeliever on the Front Lines of Holy Wars', which won a BOOKLIST Editors Choice award and was listed as a Book of the Year by MOTHER JONES magazine.</p>
                <p>
                I'm fascinated by humanity's vivid imagination, its ability to create weird, wonderful and often terrifying beliefs and that's what led me to write 'Cronix', my science fiction novel, the first in a trilogy. I'm working towards the finish line on Book Two. The story came from an idea I had about god and evolution meeting in a man-made paradise.
                </p>
            </div>

            <div class="span6">
                <p>
                When I'm not writing books and articles, I love to read, both fiction and non-fiction. I ski and scuba dive when the opportunity arises, and I enjoy dining well, drinking cocktails in fancy glasses, spending time with friends. Discussing ideas.
                </p>
                <p>
                In recent years a new hobby has been mastering the art of the BBQ: I grew up in rainy England, where hours of grilling in drizzle usually resulted in blackened lumps of chicken that were frozen at their core. I was something of a social outcast in places like Israel and Brazil, where every boy grows up in front of a grill. This was compounded when I married into a Cuban family, whose acceptance I only really won the first time I produced a perfectly roasted porker in a Caja China, which is a troublesome fusion of wheelbarrow, barbecue and coffin. Inside, and buried underground, the pig takes at least five hours to cook. But that gives everyone time to work up an appetite with ice cold beers and caipirinhas.
                </p>
                <p>I love to travel. My current favourite place is Tulum, in Mexico's Yucatan Peninsular, where you can lie in a hammock on a golden beach under the ruins of a Mayan temple and watch pelicans dive into the Caribbean. It's the first place that Europeans ever set eyes on America and its people.
                </p>
                <!-- <p></p> -->
            </div>

        </div> <!-- span6 -->

    </div> <!-- row-fluid -->

</div> <!-- main -->

































