<h2>About James Hider</h2>

<div class="row-fluid about">

    <div class="span6 about_images">

        <div class="span12 no-border">
        
            <div id="pic1" class="span4 about_img">
                <img id="pic1o" class="no-border" src="<%= asset_path("Hider.jpg") %>" />
                <img id="pic1bw" class="no-border" src="<%= asset_path("Hider2.jpg") %>" />
            </div>

            <div id="pic2" class="span4 about_img">
                <img id="pic2o" class="no-border" src="<%= asset_path("jh.jpg") %>" />
                <img id="pic2bw" class="no-border" src="<%= asset_path("jh2.jpg") %>" />
            </div>

            <div id="pic3" class="span4 about_img">
                <img id="pic3o" class="no-border" src="<%= asset_path("avatar19.png") %>" />
                <img id="pic3bw" class="no-border" src="<%= asset_path("avatar19.png") %>" />
            </div>

        </div>

        <div class="span12 no-border">

            <div id="pic4" class="span4 about_img">
                <img id="pic4o" class="no-border" src="<%= asset_path("avatar16.png") %>" />
                <img id="pic4bw" class="no-border" src="<%= asset_path("avatar16.png") %>" />
            </div>

            <div id="pic5" class="span4 about_img">
                <img id="pic5o" class="no-border" src="<%= asset_path("avatar18.png") %>" />
                <img id="pic5bw" class="no-border" src="<%= asset_path("avatar18.png") %>" />
            </div>

            <div id="pic6" class="span4 about_img">
                <img id="pic6o" class="no-border" src="<%= asset_path("jh.jpg") %>" />
                <img id="pic6bw" class="no-border" src="<%= asset_path("jh2.jpg") %>" />
            </div>

        </div>

        <div class="span12 no-border">

            <div id="pic7" class="span4 about_img">
                <img id="pic7o" class="no-border" src="<%= asset_path("jh.jpg") %>" />
                <img id="pic7bw" class="no-border" src="<%= asset_path("jh2.jpg") %>" />
            </div>

            <div id="pic8" class="span4 about_img">
                <img id="pic8o" class="no-border" src="<%= asset_path("avatar18.png") %>" />
                <img id="pic8bw" class="no-border" src="<%= asset_path("avatar18.png") %>" />
            </div>

            <div id="pic9" class="span4 about_img">
                <img id="pic9o" class="no-border" src="<%= asset_path("avatar19.png") %>" />
                <img id="pic9bw" class="no-border" src="<%= asset_path("avatar19.png") %>" />
            </div>

        </div>
                
        <div style="clear: both;"></div>

    </div>
    
    <div class="span6 about_text">
        <div class="span6 no-border">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet nibh ut ornare fringilla. Pellentesque sollicitudin tortor mi, ac posuere ligula tincidunt vitae. Cras at tincidunt tortor, ut laoreet erat. Vivamus eu hendrerit libero. Integer vehicula ut leo eu iaculis. Curabitur viverra est sem. Nulla facilisi. Integer ut lorem condimentum, bibendum quam id, gravida neque.
            </p>
            <p>
            Duis non lorem vel ex cursus gravida. Nullam ut accumsan enim. Suspendisse finibus, tellus ut consectetur congue, elit neque ullamcorper turpis, eget aliquet leo enim eget libero. Integer nec dolor sem. Maecenas fringilla ex sed neque varius pulvinar.
            </p>
            <p>
            Sed feugiat orci sed scelerisque consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus commodo id risus vulputate aliquam. Praesent pulvinar consectetur nibh, vitae porta est eleifend in. Nunc mauris orci, interdum accumsan metus ut, porta congue ante.
            </p>
            <p>
            Proin ipsum dolor, molestie et nunc sed, pharetra aliquam leo. Aliquam luctus tortor eu dapibus elementum. Sed viverra dui eget vestibulum posuere. Nam tempus gravida tincidunt.
            </p>
        </div>
        <div class="span6 no-border">
            <p>
            Sed feugiat orci sed scelerisque consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus commodo id risus vulputate aliquam. Praesent pulvinar consectetur nibh, vitae porta est eleifend in. Nunc mauris orci, interdum accumsan metus ut, porta congue ante.
            </p>
            <p>
            Fusce sed feugiat neque. Quisque blandit mollis finibus. In libero urna, pharetra non elit mattis, 1lobortis feugiat quam. Nam non tellus leo. Cras magna dui, vestibulum eu felis quis, maximus tempor massa. Fusce eleifend ultrices urna, ut lacinia felis vestibulum in. Proin ipsum dolor, molestie et nunc sed, pharetra aliquam leo. Aliquam luctus tortor eu dapibus elementum. Sed viverra dui eget vestibulum posuere. Nam tempus gravida tincidunt.
            </p>
        </div>
    </div>

</div>
