
<div class="main bg_dark">

    <div class="row-fluid">

        <div class="span12 no-padding">

            <div id="contact-form" class="span5">

                <%= form_tag(send_mail_path) do %>
                    <div class="form-group">
                        <%= label_tag 'name', 'Name' %>
                        <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your Name' %>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'email', 'Email' %>
                        <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Your Email Address' %>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'service', 'Service' %>
                        <%= select_tag 'service', options_for_select([['Skype Book Club Visit', 1], ['Reading at an Event', 2], ['Signing Event', 3], ['Interview Me About The Books', 4]], 2) %>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'datepicker', 'Date' %>
                        <%= text_field_tag 'datepicker', nil, class: 'form-control', placeholder: 'Which date' %>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'comments', 'Comments' %>
                        <%= text_area_tag 'comments', nil, class: 'form-control', rows: 4, placeholder: 'Your Comments...' %>
                    </div>
                    <%= submit_tag nil, class: 'btn btn-default btn-about' %>
                <% end %>

            </div>

            <div id="contact-data" class="span7 bg_bright">
                <div class="jacket-image">
                    <img src="https://s3.amazonaws.com/hiderwebsiteimages/Hider.jpg" alt>
                </div>
                <div class="contact-details">
                    <p>
                        You can write to me with general inquiries directly at:
                    </p>
                        <a href="mailto:jameshider@yahoo.co.uk?Subject=I%20Visited%20%20Your%20Site" target="_top">
                        jameshider@yahoo.co.uk</a>

                    </p>
                    <p>
                        I'd love to hear from you.
                    </p>

                    <p>
                        Alternatively, for licensing and permissions inquiries, please contact my agent,
                    </p>
                    <p>
                        <strong>Ethan Ellenberg</strong> at:
                    </p>
                    <p>
                        <a href="mailto:agent@ethanellenberg.com?Subject=James%20Hider%20Inquiry" target="_top">
                        agent@ethanellenberg.com</a>
                    </p>
                        Address:
                    </p>
                    <p>
                        548 Broadway, #5E,
                    </p>
                    <p>
                        New York, NY 10012
                    </p>
                    <p>
                        Phone: (212) 431-455
                    <p>
                        <a href="http://ethanellenberg.com/">http://ethanellenberg.com</a>
                    </p>
                </div>

            </div>

        </div>

    </div>

</div>
