
<div class="main bg_dark">

    <div class="row-fluid">

        <div class="span12 no-padding">

            <div id="contact-form" class="span5">

                <%= form_tag(send_mail_path) do %>
    
                    <div class="form-group">
                        <%= label_tag 'name', 'Name' %>
                        <%= text_field_tag 'name', nil, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'email', 'Email' %>
                        <%= email_field_tag 'email', nil, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'service', 'Service' %>
                        <%= select_tag 'service', options_for_select(['Skype Book Club Visit', 'Reading at an Event', 'Signing Event', 'Interview Me About The Books']) %>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'datepicker', 'Date' %>
                        <%= text_field_tag 'datepicker', nil, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                        <%= label_tag 'comments', 'Comments' %>
                        <%= text_area_tag 'comments', nil, class: 'form-control', rows: 5 %>
                    </div>
                    <div class="form-button">
                    <%= submit_tag nil, class: 'btn btn-default btn-about' %>
                    </div>

                <% end %>

            </div>

            <div id="contact-data" class="span6 bg_bright">

                <div class="span2"></div>

                <div class="span8">

                    <div class="jacket-image">
                        <img src="https://s3.amazonaws.com/hiderwebsiteimages/Hider.jpg" alt>
                    </div>
                    <div class="creditline">
                        <p>© James Hider</p>
                    </div>
                    <div class="contact-details">

                        <p>
                            You can write to me with <strong>general inquiries</strong> directly at:
                        </p>
                            <a href="mailto:jameshider@yahoo.co.uk?Subject=I%20Visited%20%20Your%20Site" target="_top">
                            jameshider@yahoo.co.uk</a>

                        </p>
                        <p>
                            I'd love to hear from you.
                        </p>
                        </br>
                        <p>
                            For <strong>readings and other events</strong> please use the form opposite.
                        </p>
                        </br>
                        </br>
                        <p>
                            For <strong>licensing and permissions</strong> inquiries,
                        </p>
                        <p>
                            please contact my agent,
                        </p>
                        <p>
                            <strong>Ethan Ellenberg</strong> at:
                        </p>
                        <p>
                            <a href="mailto:agent@ethanellenberg.com?Subject=James%20Hider%20Inquiry" target="_top">
                            agent@ethanellenberg.com</a>
                        </p>
                            Address:
                        </p>
                        <p>
                            548 Broadway, #5E,
                        </p>
                        <p>
                            New York, NY 10012
                        </p>
                        <p>
                            Phone: (212) 431-455
                        <p>
                            <a href="http://ethanellenberg.com/" target="_blank">http://ethanellenberg.com</a>
                        </p>

                    </div>

                </div>

                <div class="span2"></div>

            </div>

            
            <div class="span1"></div>

        </div>

    </div>

</div>
