<div class="main bg_dark">

  <div class="bg_bright">

    <div class="row-fluid">

      <div class="span6">

        <div class="user-entry">

            <h2 class="user-header">Resend confirmation instructions</h2>

            <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div><%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: 'user-field' %></div>

              <div><%= f.submit "Resend confirmation instructions", class: 'user-button' %></div>
            <% end %>

            <div class="shared-links">
                <%= render "devise/shared/links" %>
            </div>

        </div>
      
      <div class="span6"></div>

    </div>

  </div>

</div>
