<div class="main bg_dark">

  <div class="bg_bright">

    <div class="row-fluid">

      <div class="span6">

        <div class="user-entry">

            <h2 class="user-header">Change your password</h2>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>

              <div><%= f.label :password, "New password" %><br />
                <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'user-field' %></div>

              <div><%= f.label :password_confirmation, "Confirm new password" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'user-field' %></div>

              <div><%= f.submit "Change my password", class: 'user-button' %></div>
            <% end %>

            <div class="shared-links">
                <%= render "devise/shared/links" %>
            </div>

        </div>
      
      <div class="span6"></div>

    </div>

  </div>

</div>
