<div class="main bg_dark">

  <div class="bg_bright">

    <div class="row-fluid">

      <div class="span6">

        <div class="user-entry">

            <h2 class="user-header">Log in</h2>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div><%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: 'user-field' %></div>

              <div><%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off", class: 'user-field' %></div>

              <% if devise_mapping.rememberable? -%>
                <div><%= f.check_box :remember_me%><%= f.label :remember_me %></div>
              <% end -%>

              <div><%= f.submit "Log in", class: 'user-button' %></div>
            <% end %>

            <div class="shared-links">
                <%= render "devise/shared/links" %>
            </div>

        </div>
      
      <div class="span6"></div>

    </div>

  </div>

</div>
