<div class="main bg_bright">

    <div class="row-fluid">

        <%if @category%>
          <h1><%=@category.name%></h1>
        <%end%>

        <%= will_paginate @posts %>

        <% @posts.each do |post|%>
        <div class="post-entry">
          <h2><%=post.title%></h2>
          <p>
            <%if post==@posts.first%>
              <%=auto_link(post.body.html_safe, :html=>{:target=>'_blank'})%>
            <%else%>
              <%=truncate(post.body.gsub("<br/>"," "), :length => 200, :separator => ' ') do
                link_to "see more...", blog_path(post)
              end%>
            <%end%>
          </p>
        </div>
        <%end%>

    </div>

</div>
