<%= tinymce_assets %>

<div class="post-entry">
  <h2><%=@post.title%></h2>
  <p>
    <%=simple_format(@post.body.html_safe)%>
  </p>

  <h2>Comments</h2>

  <%= will_paginate @post.comments.paginate(:page => params[:page], :per_page => 2) %>

  <%@post.comments.order("created_at DESC").paginate(:page => params[:page], :per_page => 2).each do |comment|%>
    <p>
      <%=comment.body.html_safe%>
      <%if comment.user==current_user%>
         <%=link_to 'Delete', [@post,comment], method: :delete, data: { confirm: 'Are you sure you want to delete your comment?' } %>
      <%end%>
    </p>
  <%end%>

  <!-- FORM FOR NEW COMMENTS here -->
  <%= form_for([@post, @comment]) do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="field">
      <%= f.label "Your comment for \"" + @post.title + "\" here:" %><br>
      <%= f.text_area :body, :class => "tinymce", :rows => 10, :cols => 100 %>
      <%= tinymce %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>
