<%= form_for(@category) do |f| %>

  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="category-entry">
    <div class="field">
      <%= f.label :name, class: 'category-label' %><br>
      <%= f.text_field :name, class: 'category-field' %>
    </div>
    <div class="field">
      <%= f.label :url_slug, class: 'category-label' %><br>
      <%= f.text_field :url_slug, class: 'category-field' %>
    </div>
    <div class="category-actions">
      <%= f.submit %>
    </div>
  </div>

<% end %>
