<!DOCTYPE html>
<html>
<head>
    <title>James Hider</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>
</head>
<body>

    <div class="wrapper">

        <header>

            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner nav-color">
                    <div class="container-fluid navbar-color">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="/">James Hider</a>

                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="home-menu"><a href="/"><strong>Home</strong></a></li>
                                <li class="about-menu"><a href="/about"><strong>About Me</strong></a></li>
                                <li class="fiction-menu"><a href="/fiction"><strong>Fiction</strong></a></li>
                                <li class="nonfiction-menu"><a href="/nonfiction"><strong>Non-Fiction</strong></a></li>
                                <li class="freechapters-menu"><a href="/freechapters"><strong>Free Chapters</strong></a></li>
                                <li class="buy-menu"><a href="/buy"><strong>Buy</strong></a></li>
                                <!-- <li class="forum-menu"><a href="/forum">Forum</a></li> -->

                                <li class="blog-menu dropdown">
                                    <a id="drop1" role="button" data-toggle="dropdown" href="/blog"><strong>Blog
                                        </strong><span class="caret"></span>
                                    </a>
                                    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                        <% if current_user  && current_user.is_admin? %>
                                        <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="/posts">Administration</a>
                                        </li>
                                        <% end %>
                                        <li role="presentation">
                                        <a role="menuitem" tabindex="-1" href="/blog">All posts</a>
                                        </li>
                                        </li>
                                        <%Category.order("name ASC").each do |category|%>
                                          <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="<%=category_blog_index_path(category.url_slug)%>"><%=category.name%></a>
                                          </li>
                                        <%end%>
                                    </ul>
                                </li>

                                <li class="contact-menu"><a href="/contact"><strong>Contact</strong></a></li>
                            </ul>
                            <%if user_signed_in?%>
                                <span class="user-menu pull-right"><%=link_to "Edit Profile", edit_user_registration_path %></span>
                                  <span class="user-menu pull-right"><%=link_to "Sign out", destroy_user_session_path, method: :delete %></span>
                              <%else%>
                                <span class="user-menu pull-right"><%=link_to "Blog Sign Up", new_user_registration_path %></span>
                                <span class="user-menu pull-right"><%=link_to "Blog Login", new_user_session_path %></span>
                            <%end%>

                        </div>
                    </div>
                    <span class="pull-right">
                        <span class ="icon-stack"><a href="http://www.goodreads.com/author/show/2904462.James_Hider">
                        <i class="icon-sign-blank icon-stack-base sm_icon"></i>
                        <i class="icon-light">g</i></a></span>
                        </span>
                    </span>
                    <span class="pull-right"><a href="http://www.pinterest.com/jameshider/"><i class="fa fa-pinterest fa-2x sm_icon"></i></a></span>
                    <span class="pull-right"><a href="https://www.facebook.com/cronixthebook?ref=br_tf"><i class="fa fa-facebook fa-2x sm_icon"></i></a></span>
                    <span class="pull-right"><a href="https://twitter.com/jimbohider"><i class="fa fa-twitter fa-2x sm_icon"></i></a></span>

                    <span id="notice" class="pull-right"><%= notice %></span>
                    <span class="alert pull-right"><%= alert %></span>

                </div>
            </div>

        </header>

        <%= yield %>

        <footer>
            <div class="copyright">
                <p>&copy; 2014, Copyright James Hider</p>
            </div>
        </footer>

    </div>

</body>
</html>
